.gameboard-cont {
  max-width: 400px;
}

button.button-box {
  width: 40px;
  height: 40px;
  margin: 0 10px 10px 0;
}
.clicked {
  background-color: #cbcbcb;
  pointer-events: none;
}

span.letterbox {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  border: 1px solid gray;
  min-width: 40px;
  text-align: center;
  font-weight: 700;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mt-10 {
  margin-top: 10px;
}
.ml-5 {
  margin-left: 5px;
}
.hidden {
  display: none;
}
